# Default ignored files
/shelf/
/workspace.xml
# IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode/

# Build output
bin/
*.class

# Dependencies
*.jar

# Maven
target/

# Eclipse
.classpath
.project

# Miscellaneous
*.log
*.bak
*.swp
